{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}}
    ]}.

{minimum_otp_vsn, "17.4"}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{relx, [{release, {"tictactoe", "0.0.1"},
    [kernel, stdlib, tictactoe, cowboy],
    [{dev_mode, true},
    {include_erts, false}]}]}.
